<ul  class="nav ">
  <li class="nav-item home" (click)="onNavigate($event)">Home</li>
  <li class="nav-item color">
    <h4>Select a color scheme:</h4>
    <select name="colorSelect" id="colorSelect" #colorSelect (change)="onColorSelect(colorSelect.value)">
      <option value="mainmode">Main</option>
      <option value="darkmode">Dark</option>
         <option value="rainbowmode">Rainbow</option>
    </select>
  </li>
<li class="nav-item selected">{{selected}}</li>
  <li class="nav-item pull-right info" appDropdown>
    Select Plant:
    <br>
      <select name="plantSelect" id="plantSelect"  #plantSelect (change)="onPlantSelected(plantSelect.value)">   
       <option *ngFor="let prop of plant" >{{prop.name}}</option>
  </select>  
  </li>
</ul>
