.btn {
    background-color: var(--bgcolor);

}

.selected {
    color: var(--bgcolor);

    text-align: center;
      font-family: 'Nunito', sans-serif;
  font-size: 42px;
  font-weight: bolder;
  height: 46px;

}

#plantSelect {
 margin-left: -6px; 
  font-size: 20px;
  padding: 5px 10px;
  color: black;
  background-color: var(--bgcolor);
  cursor: pointer;
}

.info {
  color: var(--bgcolor);
  margin-right: 30px;
 
}


.color {
  z-index: 3;
}

h4 {
margin: 0px;
  color: white
}

ul {
  height: 120px;
opacity: 0;
}

#colorSelect {
  margin-left: 27px;  
  font-size: 20px;
  padding: 5px 10px;
  color: black;
  background-color: var(--bgcolor);
  cursor: pointer;
}