.btn {
    background-color: var(--bgcolor);

}

.selected {
    color: var(--bgcolor);
    margin: 20px auto -30px auto;
    text-align: center;
      font-family: 'Nunito', sans-serif;
  font-size: 42px;
  font-weight: bolder;
  height: 46px;

}

#plantSelect {
 margin: 0 5px 5px 0;  
  font-size: 20px;
  padding: 5px 10px;
  color: black;
  background-color: var(--bgcolor);
  cursor: pointer;
}

.info {
  color: var(--bgcolor);
}

.home {
  position: absolute;
  bottom: 50%;
  z-index: 2;
}