<div class="container" #container>
    <div>
    <div class="heading">2021 Emissions Averages</div>
<table  class="table table-responsive"  >
    <thead>
        <tr>
            <th scope="col">Source</th>
            <th scope="col">NOx (lb/MMBtu)</th>
            <th scope="col">CO2 (lb/MMBtu)</th>
            <th scope="col">CO (lb/MMBtu)</th>
            <th scope="col">SO2 (lb/MMBtu)</th>
            <th scope="col">Fuel</th>
        </tr>
    </thead>
    <tbody class="text-center" >
        <tr @listAnimation *ngFor="let prop of displayArray">
            <th scope="row">{{prop.name}}</th>
            <td>{{prop.NOx.toFixed(3)}}</td>
            <td>{{prop.CO2.toFixed(0)}}</td>
            <td>{{prop.CO.toFixed(3)}}</td>
            <td>{{prop.SO2.toFixed(3)}}</td>
            <td>{{prop.fuel}}</td>
        </tr>
        <tr [@fade]="totalState" class="total">
            <th scope="row">Total</th>
            <td>{{noxTotal.toFixed(3)}}</td>
            <td>{{co2Total.toFixed(0)}}</td>
            <td>{{coTotal.toFixed(3)}}</td>
            <td>{{so2Total.toFixed(3)}}</td>
        </tr>
    </tbody>
    <!-- <tfoot [@fade]="totalState">
         <tr >
            <th>Total</th>
            <td>{{noxTotal.toFixed(3)}}</td>
            <td>{{co2Total.toFixed(0)}}</td>
            <td>{{coTotal.toFixed(3)}}</td>
            <td>{{so2Total.toFixed(3)}}</td>
            <td> </td>
         </tr> -->
    <!-- </tfoot> -->
   
        </table>
</div>
