.container {
    background-color: var(--bgcolor);
   width: 85%;
    height: 384px;
    text-align: center;
    padding: 18px 0 0 0;
    border-radius: 10px;
    border: 5px double #113A63;
    box-shadow: 0px 0px 7px 5px #0e3155;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

.heading {
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 10px;
}

table {
padding: 10px 20px 0 20px;
  min-width:440px;

    margin: 0 auto;
   table-layout: fixed;
   text-align: center;
   width: fit-content;
   overflow: hidden;
   font-size: 16px;



}

th {
  text-align: center;
 
}

td {
      text-align: center;
      position: relative;
 
}

tbody {
    position: relative;
    height: 125px;

}

.table>tbody>tr>td, .table>tbody>tr>th {
    border-top: none;

}


thead {
    position: relative;

}

.total {
    font-weight: bolder;
    font-size: 18px;

    box-shadow: 0px 0px 0px 6px #E8E8E8 inset;
    color: white;

   
}

table>tbody>tr:hover {
    background-color: lightgray;
}



tfoot {
width: 100%;
font-weight: bolder;
position: sticky;

}

@keyframes rainbow {
   0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@media (max-width: 700px) {
 
  .container {
    width: 100%
  }

   }