

.container {

    margin: 0 auto;
    width: 90%;
    height: fit-content;
    border: solid black 7px;
    padding-bottom: 100px;


  
}

#display {
    margin: 20px 40px 0 40px;
}

@keyframes rainbow {
   0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@media (max-width: 1000px) {
    .container {
        width: 100%;
    }

    #display {
        margin: 0;
    }
}