.container {
    height: 465px;

    width: 100%;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: 5px double #113A63;
    box-shadow: 0px 0px 7px 5px #0e3155;
    position: relative;
    overflow: hidden;
  
}

.chartContain {
width: 80%;
left: 50%;
   overflow: hidden;
   position: absolute;
   transform: translate(-50%, 0%);
 background-color: transparent;
}