  <div class="row" id="header" >
            <app-header></app-header>
    </div>
    <br><br>
<div class="container-fluid">

    <div class="row">
      <div class="col-lg-6 ">
        <app-data-table></app-data-table>
      </div>
    <div class="col-lg-6 ">
    <app-visuals></app-visuals> 
    </div>
  </div>
  <br>
  <br>
  <br>
<div class="row">
    <div class="col-lg-6 ">
  <app-bar-chart></app-bar-chart></div>
  <div class="col-lg-6 ">
<app-line-chart></app-line-chart></div></div>
</div>
