
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="selectedAnalyte($event)">NOx</a>
  </li>
    <li class="nav-item">
       <a class="nav-link" (click)="selectedAnalyte($event)" >CO2</a>
   
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="selectedAnalyte($event)" >CO</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" (click)="selectedAnalyte($event)">SO2</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" (click)="selectedAnalyte($event)" >Total</a>
  </li>
  </ul>